PUID=1000
PGID=1000
TZ="Europe/Amsterdam"

DOWNLOAD_PATH="path"
NEXTCLOUD_PATH="path"

TV_SHOW_PATH="path"
MOVIE_PATH="path"

SERVER_EXTERNAL_URL="url"

TRANSMISSION_USER="xxx"
TRANSMISSION_PASSWORD="xxx"

MYSQL_ROOT_PASSWORD="xxx"
HA_MYSQL_USER="xxx"
HA_MYSQL_PASSWORD="xxx"

VSCODE_PASSWORD=xxx

DUCKDNS_DOMAIN=xxx
DUCKDNS_TOKEN=xxx
